DB_USER="USER"
DB_PASSWORD="PASS"
DB_HOST="DB_HOST"
DB_PORT=5432
DB_NAME=vectordb
DB_SCHEMA="DB_SCHEMA"

EMBEDDING_MODEL=BAAI/bge-base-en-v1.5

LLM_PROVIDER=groq
LLM_MODEL=openai/gpt-oss-120b
GROQ_API_KEY="YOUR_GROQ_KEY"
# LLM_PROVIDER=bedrock
# LLM_MODEL=qwen.qwen3-235b-a22b-2507-v1:0

VOICE_ENGINE_URL=http://localhost:8001
CALLS_API_KEY=secret-api-key


AWS_API_KEY="BEDROCK_API_KEY"